name: Plugin Check

on:
    workflow_dispatch:
    push:
        branches:
            - main
            - develop
    pull_request:
        types:
            - opened
            - synchronize
            - ready_for_review

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
    # The concurrency group contains the workflow name and the branch name for pull requests
    # or the commit hash for any other events.
    group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
    cancel-in-progress: true

# Disable permissions for all available scopes by default.
# Any needed permissions should be configured at the job level.
permissions: {}

jobs:
    plugin-check:
        name: Run Plugin Check
        runs-on: 'ubuntu-latest'
        permissions:
            contents: read
        timeout-minutes: 20
        steps:
            - name: Checkout repository
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  show-progress: ${{ runner.debug == '1' && 'true' || 'false' }}
                  persist-credentials: false

            - name: Set up PHP
              uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
              with:
                  php-version: '8.3'
                  coverage: none

            - name: Install Composer dependencies
              uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

            - name: Setup Node
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  cache: 'npm'
                  node-version-file: '.nvmrc'

            - name: Install NPM dependencies
              run: npm ci

            - name: Build plugin
              run: npm run plugin-zip

            - name: Unzip to build directory
              run: unzip -d build *.zip

            - name: Read plugin slug
              id: slug
              run: echo "slug=$(jq -r .name package.json)" >> $GITHUB_OUTPUT

            - name: Run plugin check
              uses: wordpress/plugin-check-action@6f5a57e173c065a394b78688f75df543e4011902 # v1.1.5
              with:
                  wp-version: 'latest'
                  build-dir: './build/'
                  slug: ${{ steps.slug.outputs.slug }}
                  # Note: Remove 'plugin_updater_detected' if this plugin is intended for the dotorg directory.
                  # Note: Add 'readme_reserved_contributors' if the plugin has wordpressdotorg as a contributor.
                  ignore-codes: 'plugin_updater_detected'
