name: Update assets on WordPress.org

on:
    workflow_dispatch:
#    push:
#        branches:
#            - main
#        paths:
#            - 'README.md'
#            - '.wordpress.org/**'

jobs:
    update:
        name: Update assets
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Read PHP version
              id: php-version
              run: echo "version=$(jq -r .config.platform.php composer.json)" >> $GITHUB_OUTPUT

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ steps.php-version.outputs.version }}
                  extensions: mbstring, dom, fileinfo, xml, curl
                  coverage: none
                  tools: composer:v2

            - name: Cache Composer dependencies
              uses: actions/cache@v4
              with:
                  path: vendor
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-composer-

            - name: Install Composer dependencies
              run: composer install --prefer-dist --no-progress

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'

            - name: Install npm dependencies
              run: npm ci

            - name: Verify version consistency
              run: npm run verify-version-consistency

            - name: Transform README.md to readme.txt
              run: npm run transform-readme

            - name: Update assets
              uses: 10up/action-wordpress-plugin-asset-update@stable
              env:
                  SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
                  SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
                  IGNORE_OTHER_FILES: true
