name: Update assets on WordPress.org

on:
    workflow_dispatch:
#    push:
#        branches:
#            - main
#        paths:
#            - 'README.md'
#            - '.wordpress.org/**'

jobs:
    update:
        name: Update assets
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Read PHP version
              id: php-version
              run: echo "version=$(jq -r .config.platform.php composer.json)" >> $GITHUB_OUTPUT

            - name: Setup PHP
              uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
              with:
                  php-version: ${{ steps.php-version.outputs.version }}
                  extensions: mbstring, dom, fileinfo, xml, curl
                  coverage: none
                  tools: composer:v2

            - name: Cache Composer dependencies
              uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
              with:
                  path: vendor
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-composer-

            - name: Install Composer dependencies
              run: composer install --prefer-dist --no-progress

            - name: Setup Node.js
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'

            - name: Install npm dependencies
              run: npm ci

            - name: Verify version consistency
              run: npm run verify-version-consistency

            - name: Transform README.md to readme.txt
              run: npm run transform-readme

            - name: Update assets
              uses: 10up/action-wordpress-plugin-asset-update@2480306f6f693672726d08b5917ea114cb2825f7 # 2.2.0
              env:
                  SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
                  SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
                  IGNORE_OTHER_FILES: true
